/*=====================
Global Layout Set-up
=====================*/
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-family: 'Roboto', sans-serif;
}

html,
body {
     background-color: white;
}


/*===============
Section Styles
===============*/
img {
     max-width: 200px;
     max-height: 200px;
}
